html {
    font-family: Roboto, sans-serif;
    background-color: whitesmoke;
}

body {
    margin: 0;
}

header {
    padding: 0 20px;
}

main {
    padding: 0 20px;
}

@media (min-width: 600px) {
    header {
        padding: 0 10%;
    }

    main {
        padding: 0 10%;
    }
}

@media (min-width: 900px) {
    header {
        padding: 0 20%;
    }

    main {
        padding: 0 20%;
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a.current {
    text-decoration: underline;
}

nav a:hover {
    text-decoration: underline;
}

.post {
    border-top: dashed 2px lightgray;
    padding: 20px 20px;
}

.post-body {
    background-color: rgb(252,252,252);
    border: solid 1px lightgrey;
    padding: 10px 20px;
    border-radius: 10px;
}

.post a {
    color:black;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    color: grey;
}

.pagination a {
    color: black;
    text-decoration: none;
}

.pagination a.current {
    text-decoration: underline;
}

.pagination a:hover {
    text-decoration: underline;
}


.text-center {
    text-align: center;
}