---
layout: base.njk
pagination:
    data: collections.post
    size: 2
    alias: posts
    generatePageOnEmptyData: true
---

<section>
    <p class="text-center">Korte tekstjes, vaak volledig waargelogen, soms ook gebasseerd op een ware grap.</p>
    <br><br>
    {% for post in posts %}
    <div class="post">
        <a href="{{ post.url }}">
            <h2 class="text-center">{{ post.data.title }}</h2>
        </a>
        {{ post.templateContent | safe }}
    </div>
    {% endfor %}
    {% if pagination.hrefs.length > 1 %}
    <div class="pagination">
        {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">Vorige</a>
        {% else %}
            Vorige
        {% endif %}

        {% for pageLink in pagination.pages %}
            <a href="{{ pagination.hrefs[loop.index0] }}"
                {% if page.url == pagination.hrefs[loop.index0] %}
                    aria-current="page"
                    class="current"
                {% endif %}
                >
                {{ loop.index }}
            </a>
        {% endfor %}

        {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">Volgende</a>
        {% else %}
            Volgende
        {% endif %}
    </div>
    {% endif %}
</section>