---
name: Zijspoor
description: Korte tekstjes, vaak volledig waargelogen, soms ook gebasseerd op een ware grap.
type: website
---

<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {{ name }}
            {% if title %}
            | {{ title }}
            {% endif %}
        </title>

        <meta name="description" content="{{ description }}" />
        <link rel="canonical" href="{{ page.url }}" />
        <meta name="robots" content="index, follow" />

        <meta property="og:site_name" content="{{ name }}" />
        <meta property="og:title" content="{{ title or name }}" />
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:image" content="/media/zijspoor.svg" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:type" content="{{ type }}" />
        {% if type=='article' %}
            <meta property="article:author" content="Jonathan Matarazzi" />
            <meta property="article:published_on" content="{{ page.date }}" />
        {% endif %}

        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <img height="40" src="/media/zijspoor.svg" />
                    <a href="/"><h2>{{ name }}</h2></a>
                </div>
                <div>
                    <a href="/"
                        {% if page.url=='/' %}
                            class="current"
                        {% endif %}
                        >
                            Home
                        </a>
                    <a href="/about/"
                        {% if page.url=='/about/' %}
                            class="current"
                        {% endif %}
                    >
                        About
                    </a>
                </div>
            </nav>
            <hr>
        </header>
        <main>
        <h1 class="text-center">{{ title }}</h1>
        {{ content | safe }}
        </main>
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
    </body>
</html>
